In [3]:
import pandas as pd

In [8]:
data=pd.read_csv("children_stats_only (2).csv")

In [9]:
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Name ', 'Age ', 'Gender', 'Place ',
       'Height ', 'Weight ', 'BMI', 'Occupation',
       ...
       '10. Are you suffering from any of the following?(Depression; Anxiety; ADHD; Bipolar Disorder; Schizophrenia etc)',
       '11. How do you describe yourself?', '(IF SPORT PERSON)',
       'What kind of sports', '(IF ATHLETE)', 'Participating category(ies)',
       '(IF FITNESS ENTHUSIAST) ', 'Do you exercise regularly',
       ' How many hours per week',
       'Kind of exercises you prefer(yoga/weight\ntraining/Strength Training/Functional \nMovements/cardio/cross training etc)'],
      dtype='object', length=127)

In [23]:
data.isnull().sum()

Unnamed: 0.1                                                                                                               0
Unnamed: 0                                                                                                                 0
Name                                                                                                                       0
Age                                                                                                                        0
Gender                                                                                                                     0
                                                                                                                          ..
Participating category(ies)                                                                                               23
(IF FITNESS ENTHUSIAST)                                                                                                    0
Do you exercise regularly                                                                                                  0
 How many hours per week                                                                                                   0
Kind of exercises you prefer(yoga/weight\ntraining/Strength Training/Functional \nMovements/cardio/cross training etc)    23
Length: 127, dtype: int64

In [24]:
total_columns=data.shape[1]
total_columns

127

In [25]:
total_rows=data.shape[0]
total_rows

23

In [26]:
data['Lab-Report'].unique()

array([nan, 'no'], dtype=object)

In [27]:
data['Gender'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 23 entries, 0 to 22
Series name: Gender
Non-Null Count  Dtype
--------------  -----
23 non-null     object
dtypes: object(1)
memory usage: 312.0+ bytes

In [28]:
data['Age']

KeyError: 'Age'

In [29]:
data['Lab-Report']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8      no
9      no
10    NaN
11    NaN
12     no
13     no
14     no
15    NaN
16    NaN
17     no
18    NaN
19     no
20     no
21     no
22     no
Name: Lab-Report, dtype: object

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Columns: 127 entries, Unnamed: 0.1 to Kind of exercises you prefer(yoga/weight
training/Strength Training/Functional
Movements/cardio/cross training etc)
dtypes: float64(14), int64(6), object(107)
memory usage: 22.9+ KB

In [36]:
data["How many hours per week"]

KeyError: 'How many hours per week'

In [33]:
data

,Unnamed: 0.1,Unnamed: 0,Name,Age,Gender,Place,Height,Weight,BMI,Occupation,...,10. Are you suffering from any of the following?(Depression; Anxiety; ADHD; Bipolar Disorder; Schizophrenia etc),11. How do you describe yourself?,(IF SPORT PERSON),What kind of sports,(IF ATHLETE),Participating category(ies),(IF FITNESS ENTHUSIAST),Do you exercise regularly,How many hours per week,Kind of exercises you prefer(yoga/weight\ntraining/Strength Training/Functional \nMovements/cardio/cross training etc)
0,32,32,arya tara rai,7,f,darjeeling,170,70,23,doctor,...,nil,not applicable,yes,NaN,NaN,NaN,yes,yes,nil,NaN
1,66,66,sriya sreenivasan,7,f,nil,122,35,23,doctor,...,nil,not applicable,yes,NaN,NaN,NaN,yes,yes,nil,NaN
2,109,109,shitanshu verma,5,m,nil,170,70,23,doctor,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
3,151,151,rizanizar,10,f,nil,130,25,23,doctor,...,nil,not applicable,yes,NaN,NaN,NaN,yes,yes,nil,NaN
4,164,164,iffa ahmed,10,f,nil,149,38,23,doctor,...,nil,not applicable,yes,NaN,NaN,NaN,yes,yes,nil,NaN
5,173,173,sheetal kumari,6,f,nil,121,25,23,doctor,...,nil,not applicable,yes,NaN,NaN,NaN,yes,yes,nil,NaN
6,190,190,devasree,8,f,nil,111,27,23,doctor,...,nil,not applicable,yes,NaN,NaN,NaN,yes,yes,nil,NaN
7,223,223,amrit t krishnadas,11,m,nil,136,25,14,doctor,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
8,282,283,sriya sreenivasan,7,f,nil,122,35,24,nil,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
9,373,374,sabrina gurung,11,f,nil,170,70,23,nil,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
10,512,514,annette adarsh kurias,8,f,nil,140,70,23,occupation,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
11,521,523,druvik rakesh,8,m,nil,128,27,16,occupation,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
12,527,530,shreyanesh grover,5,m,nil,170,70,23,occupation,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
13,552,555,kezia johnson,10,f,nil,145,34,16,occupation,...,nil,nil,yes,NaN,NaN,NaN,no,yes,cardio exercise,NaN
14,563,566,ved dharmendra dhanani,10,m,nil,122,28,18,business,...,nil,nil,yes,NaN,NaN,NaN,no,yes,nil,NaN
15,666,669,miss senora menezes,5,f,nil,170,70,23,business,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
16,673,676,riyana parveen p s,9,f,nil,140,22,23,business,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,games,NaN
17,724,728,k shanker,6,m,nil,170,70,23,doctor,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
18,807,1124,nemy joseph,7,m,banglore,128,21,23,occupation,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
19,910,2496,laxmi-stb210022567,11,f,north india,160,60,23,nil,...,10. are you suffering from any of the followin...,(if sport person),yes,NaN,NaN,NaN,yes,yes,kind of exercises you prefer(yoga/weight train...,NaN
20,958,3209,jiya r rakholiya _gfx0205683,8,f,north india,170,70,23,student,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
21,1004,3740,viraj vishal bekellu_gfx0205687,8,m,south india,120,25,17,student,...,nil,nil,yes,NaN,NaN,NaN,yes,yes,nil,NaN
22,1030,4072,k prabhass,10,m,karnataka,121,28,18,student,...,nil,nil,yes,NaN,nil,NaN,no,yes,nil,NaN