In [25]:
import pandas as pd
import math
import numpy as np

In [9]:
df=pd.read_csv("./Bengaluru_House_Data.csv")
df.head()
df.isnull().sum()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [10]:
df['total_sqft'].isnull().sum()

0

In [15]:
a=df['total_sqft'].dtypes
a

dtype('O')

In [18]:
b=df['bath'].dtypes
b

dtype('float64')

In [23]:
f=df['total_sqft'].floor()

AttributeError: 'Series' object has no attribute 'floor'

In [27]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [46]:
o=df[df['total_sqft']!="-"]
o.to_csv("nw.csv")

In [75]:
df['total_sqft']=df['total_sqft'].str.split("-").str.get(0)
df.loc[56,'total_sqft']

'3010 '

In [61]:
df.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [81]:
df['total_sqft']=df['total_sqft'].str.split('.').str.get(0)
df.loc[142,'total_sqft']

'1563'

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [85]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 ', '774', '4689'], dtype=object)

In [86]:
df['total_sqft']=df['total_sqft'].astype(int)

ValueError: invalid literal for int() with base 10: '4125Perch'